* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.auth-page {
  min-height: 100vh;
  background: linear-gradient(180deg, #5ee7b7, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 420px;
  background: white;
  padding: 35px 30px 30px;
  border-radius: 20px;
  border: 2px solid #888;
}

.auth-card h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;
}

.auth-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  font-size: 15px;
}

.auth-card button {
  width: 100%;
  padding: 14px;
  background: #ff4d3d;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-link {
  text-align: center;
  margin-top: 18px;
  font-size: 15px;
}

.login-link span {
  color: #ff4d3d;
  cursor: pointer;
}

.terms {
  display: flex;
  gap: 20px;
  margin-top: 18px;
  font-size: 14px;
  color: #444;
}

.terms input {
  margin-top: 3px;
 
}
input[type="checkbox"] {
  width: 14px;   /* increase width */
  height: 14px;  /* increase height */
  cursor: pointer;
}


