@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.footer-icon-container img
{
    height: 30px;
    width: 30px;
}
.footer-logo img{
    height: 80px;
    width: 80px ;
}
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
 
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 8px;
} 
.footer-logo p{
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-family: "BBH Bogle", sans-serif;
}
.footer-link{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: #252525;
    font-size: 20px;
    gap: 50px;
   
}
.footer-link li{
    cursor:pointer;
    font-weight: bold;
}
.footer-social-icon
{
    display: flex;
    gap: 20px;
}
.footer-icon-container{
    padding: 10px;
    padding-bottom: 6px;
    background-color: white;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}