img{
    height: 70px;
    width: 70px;
}
.nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 40px;
    box-shadow: 0 1px 3px -2px black;
}
.login-cart
{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul
{
    font-size: 20px;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    position: relative;
    cursor: pointer;
}
a::before
{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0;
    height: 3px;
    transition: all 0.2s;
    background-color: rgb(18, 105, 24);
}
a.across::before{
    width: 100%;
}

.login-btn {
  padding: 5px 15px;
  background-color: #ff4141;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}
.login-btn:hover {
  background-color: #e63939;
}
button:active
{
    background-color: #f3f3f3;
}
.nav-logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}
.icon
{
    position: relative;
}
.nav-cart-count
{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    right: 29px;
    top: 13px;
    color: white;
}   