.offer
{
   
    width: 60%;
    height: 60vh;
   margin: auto;
   margin-bottom: 60px;
   margin-top: 60px;
    background: linear-gradient(360deg,#47fdae,#e1ffea22 60%);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.offer-left
{
    flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    gap: 15px;
}
.offer-right
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer-right img
{
    height: 430px;
    width: 430px;
}
.offer-left h1{
    font-size: 50px;
}
.offer-left p{
    font-size: 20px ;
    font-weight: 600;
}
.offer-left button
{
    width: 250px;
    height: 50px ;
    background-color: #ff1414;
    color: black;
    border: none;
    color: white;
    font-size:16px ;
    font-weight: 500;
    margin-top: 30px;
    cursor:pointer ;
}
.newsletter div button
{
    height: 50px;
    width: 200px;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
